.forecast{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    margin: 4px 0 4px 10px;
    border-radius: 10px;
    padding: 0px 8px;
}

.forecast-icon{
    height: 4rem;
}
.forecast-temperature{
    font-size: 1.4rem;
}
.forecast-temperature .forecast-high-temp{
    color: white;
}
.forecast-temperature .forecast-low-temp{
    color: rgb(168, 168, 168);
}
.forecast-day{
    color: hsl(69, 82%, 49%);
    font-size: 1.2rem;
    font-weight: bold;
}