.forecast{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 4px;
    /* background: #b69595; */
    margin: 4px 0 4px 4px;
    border-radius: 10px;
    padding: 0px 8px;
}

.forecast-icon{
    height: 4rem;
}
.forecast-temperature{
    color: white;
    font-size: 1.4rem;
}
.forecast-day{
    color: hsl(69, 82%, 49%);
    font-size: 1.2rem;
    font-weight: bold;
}